<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>hi <%=@task.user.login%> you are assigned a new task <%=@task.name%></p>
      </body>
</html>