<h1>edit Projects</h1>
<% form_for :project, :url =>  project_path,:html => { :method => :put }  do |f|%>
  <%=  render :partial => 'form', :locals => { :f => f } %>
  <p> <%= submit_tag 'update' %></p>
 <% end %>
